.App {
  background-image: url('./background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: calc(50vh - 375px) calc(50vw - 375px); 
}
.App:before {
  content: '';
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.floor-plan {
  width: 750px;  
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  display: grid;
  grid-auto-rows: 150px;
  grid-auto-columns: 150px;
  grid-template-areas: 
    'b1 b1 lv lv kt'
    'b1 b1 lv lv kt'
    'fb fb lv lv kt'
    'b2 b2 hb b3 b3'
    'b2 b2 hb b3 b3';
}
.room {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
.room:hover:before {
  content:'';
  width: 100%;
  position: absolute;
  top:0;
  bottom:0;
  background: rgba(255,255,255,.3);
  z-index: 1;
  outline: 2px solid #fff;
}
.room p {
  position: absolute;
}
.bedroom {
  background-color: #6094a5;
}
.bed-1 {
  grid-area: b1;
}
.bed-2 {
  grid-area: b2;
}
.bed-3 {
  grid-area: b3;
}
.living-room {
  background-color: #c9ac81;
  grid-area: lv;
}
.kitchen {
  background-color: #f1a73b;
  grid-area: kt;
} 
.bath {
  background-color: #728831;
  text-transform: capitalize;
}
.full-bath {
  grid-area: fb;
}
.half-bath {
  grid-area: hb;
}
.item {
  width: 50%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.oven {
  background-color: #c94716;
}
.sink {
  background-color: #935613;
}